\documentclass{article}

\usepackage{amsmath}
\usepackage{amsthm}
\usepackage{amssymb}
\usepackage{color}
\bibliographystyle{plain}

\newcommand{\dnote}[1]{\textcolor{blue}{Dom: #1}}

\begin{document}

\bibliography{references}

\end{document}
